
.fileList {

}

.studyView {

}

.qna {

}

.scrachPaper {
  width : 60%;
  height: 30em;
}

.edit {
  width : 80%;
  height : 40em;
}

.entireStack {
  background-color: yellow;
  float: left;
  width: 30%;
  height: 30%;
}

.newCard, .visible{
  background-color: yellow;
}


.invisible{
  display: none;
}

select option:empty { display:none }
