<div class = 'studyView'>
  <button ng-click="showOneCard()">next question</button>
  <button ng-click="showAnswer()">show answer</button>
  <button ng-click="restudy()">do it again</button>
  <button ng-click="concat()">add to end of file</button>
  <div class = 'testArea'>
    <textarea class = 'question'> {{gData.shuffledStack[gData.curCardIndex].question}}</textarea>
    <textarea class = 'answer' ng-show = "state != 0"> {{gData.shuffledStack[gData.curCardIndex].answer}} </textarea>
  </div>
</div>
