<div class = 'studyView'>
  <div class = 'qna'> {{globalData.curStackName}}</div>
  <!--textarea class = 'scrachPaper'>the length is {{stack.length}}------{{stack}} </textarea-->
  <!--div class = 'question'> {{gData.shuffledStack[gData.curCardIndex].question}}</div-->
  <button ng-click="showOneCard()">next question</button>
  <button ng-click="showAnswer()">show answer</button>
  <button ng-click="restudy()">do it again</button>
  <div class = 'testArea'>
    <div class = 'question'> {{gData.shuffledStack[gData.curCardIndex].question}}</div>
    <div class = 'answer' ng-show = "state != 0"> {{gData.shuffledStack[gData.curCardIndex].answer}} </div>
  </div>
  <textarea class="scrachPaper" ></textarea>
</div>
